/* Registration.css */
.container {
  margin-top: 20px;
}


.ml-2 {
  margin-left: 10px;
}

form {
  float: left;
}

.receipt {
  float: right;
  width: 48mm;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-family: "Courier New", monospace;
  font-size: 11px;
  line-height: 1.4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.receipt > p {
  padding: 0px;
  margin: 2px;
}

.store-name {
  font-size: 18px;
  font-weight: bold;
}

.bill-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.bill-info > p {
  padding: 0px;
  margin: 2px;
}

.receipt-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.receipt-table th, .receipt-table td {
  text-align: left;
  padding: 4px;
}

.dashed-line {
  border: none;
  border-top: 1px dashed black;
  margin: 10px 0;
}

.total-section p {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.grand-total {
  font-size: 14px;
}

.thank-you {
  font-size: 14px;
  font-weight: bold;
}

.visit-again {
  font-size: 12px;
  font-weight: bold;
}


.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #b10202;
  }
  
  .registration-card {
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .registration-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .registration-form {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .select-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .alert-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  





.actionButtons{
    text-align: right;
}


.actionButtons Button {
    margin-left:20px;
}

.navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #28a745;
  }
  

  .navbar {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-visible {
  transform: translateY(0);
  opacity: 1;
}

.card-body  {
background-color: #f0f0f0;
border-radius: 8px;

}